@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Noto+Sans:wght@400;700&display=swap');

/* ZERANDO O CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* TELA FUNDO */

html{
    width: 100vh;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Noto Sans', sans-serif; */
}

body{
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)),
     url(img/img5.jpg);
     background-position: center center;
     background-size: cover;
     background-position-y: 0px;
}

/* MENU E AFINS */

header{
    width: 100%;
    height: 7vh;
    background: rgba(22, 22, 22, 0.2);
}

.menu-content{
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.logo{
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
    cursor: pointer;
}

.menu-content .list-itens{
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}

.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(251, 255, 0);
    transition: all 1.5s ease; 
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}

.foot{
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: end;
}

.foot .text-foot{
    color: white;
}